.button {
  border: none;
  background-color: var(--primary);
  color: var(--text-over-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 22rem;
  padding: 0.8rem;
  border-radius: 1rem;
  margin-top: 4rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.button:hover {
  filter: brightness(80%);
}

.red {
  background-color: var(--error);
  color: var(--text-over-erro);
}
.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}
